.first{
    color:blue;
    font-size:24px;
    font-weight: 700;
}
.second{
    color:#178FFF;
    font-size:16px;
    font-weight: 700;
}
.three{
    color:#178FFF;
    font-size:16px;
    font-weight: 700;
}
.four{
    color:#FF28D1;
    font-size:22px;
    font-weight: 700;
}
.five{
    color:#FFD13B;
    font-size:18px;
    font-weight: 700;
}
.six{
    color:#8E8E8E;
    font-size:13px;
    font-weight: 400;
}