.first{
    color:blue;
    font-size: 32px;
    font-weight: 700;
}
.second{
    color:aqua;
    font-size: 32px;
    font-weight: 700;
}
.three{
    color:aqua;
    font-size: 32px;
    font-weight: 700;
}
.four{
    color:deeppink;
    font-size: 32px;
    font-weight: 700;
}
.five{
    color:yellow;
    font-size: 32px;
    font-weight: 700;
}
.six{
    color:grey;
    font-size: 32px;
    font-weight: 700;
}